@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1e1b1b;
  --accent: #0054da;
  --white: white;
  --orange: #ff6433;
  --steelgrey: #e2e6e9;
  --purple: #661ce7;
  --steel-grey: #edf2f7;
  --mint: #5cba99;
  --lightgrey: #f2f2f2;
  --grey: #687380;
}

body {
  font-family: 'Overpass', sans-serif;
  color: var(--black);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}